<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
    <title>{% block title %}Title{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/style.css" rel="text/css" />
    {% block head %}{% endblock %}    
</head>
<body>
    <header>
    <h1>{% block heading %}{% endblock %}</h1>
    <nav><a href="/">Home</a> <a href="/valuate/form/">Valuate</a> <a href="/admin">Admin</a></nav>
    </header>
    <section>
    {% block content %}{% endblock %}
    </section>
    <footer>
    </footer>
</body>
</html>
